<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/submit-even-fibonacci" method="post">
    Max: <input name="max" type="text" /> <br />
    Even Numbers?: <input name="even" type="checkbox" checked /> <br />
    <input type="submit" />
</form>
<button><a href="./">Home</a></button>
</body>
</html>
