<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<ul>
    <% projects.forEach(function(project) { %>
        <li><a href="<%= project.url %>"><%= project.title %></a></li>
    <% }); %>
</ul>
</body>
</html>
