<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/submit-multiple-divisor" method="post">
    Number: <input name="number" type="text" /> <br />
    CSV of divisors: <input name="divisors" type="text" /> <br />
    <input type="submit" />
</form>
<button><a href="./">Home</a></button>
</body>
</html>
