<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h4>The Result = <%= total%></h4>
<button><a href="./">Home</a></button>
</body>
</html>
